# Topic: Problem solving with sets.
If the inputs are given on one line separated by a space character, use split() to get the separate values in the form of a list:

In [1]:
a = input()

5 4 3 2

In [2]:
lis = a.split()

In [3]:
print(lis)

['5', '4', '3', '2']

If the list values are all integer types, use the map() method to convert all the strings to integers:

In [4]:
newlis = list(map(int, lis))

In [5]:
print(newlis)

[5, 4, 3, 2]

Sets are an unordered bag of unique values. A single set contains values of any immutable data type.

In [6]:
### Creating Sets

In [7]:
myset = {1, 2} # Directly assigning values to a set
myset = set()  # Initializing a set
myset = set(['a','b']) # Creating a set from a list
myset

{'a', 'b'}

### Modifying Sets
Using add function:

In [8]:
myset.add('c')

In [9]:
myset

{'a', 'b', 'c'}

In [10]:
myset.add('a') # As 'a' already exists in the set, nothing happens
myset.add((5,4))
myset

{(5, 4), 'a', 'b', 'c'}

Using the update() function:

In [11]:
myset.update([1,2,3,4]) # Update() only works for iterable objects
myset

{(5, 4), 1, 2, 3, 4, 'a', 'b', 'c'}

In [12]:
myset.update({1,6},[5,13])

In [13]:
myset

{(5, 4), 1, 13, 2, 3, 4, 5, 6, 'a', 'b', 'c'}

### Removing Items:
Both the discard() and remove() functions take a single value as an argument and removes that value from the set.
If that value is not present, discard() does nothing, but remove() will raise a KeyError exception.

In [14]:
myset.discard((5,4))

In [15]:
myset

{1, 13, 2, 3, 4, 5, 6, 'a', 'b', 'c'}

In [16]:
myset.remove(13)

In [17]:
myset

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c'}

### Common Set Operations
Using union(), intersection() and difference() functions.

In [18]:
a = {2,4,5,9}

In [19]:
b = {2,4,11,12}

In [20]:
a.union(b) # Values which exist in 'a' or 'b'

{2, 4, 5, 9, 11, 12}

In [21]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [22]:
a.difference(b) # Valuse which exist in a but not in b

{5, 9}

The union() and intersection() functions are symmetric methods:

In [23]:
a.union(b) == b.union(a)

True

In [24]:
 a.intersection(b) == b.intersection(a)

True

In [25]:
a.difference(b) == b.difference(a)

False

### Task
Given sets of integers, and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either or but do not exist in both.

#### Input Format

The first line of input contains an integer, **M**.

The second line contains **M** space-separated integers.
The third line contains an integer, **N**.
The fourth line contains **N** space-separated integers.

#### Output Format

Output the symmetric difference integers in ascending order, one per line.

#### Sample Input

4

2 4 5 9

4

2 4 11 12

#### Sample Output

5

9

11

12

## My Solution:

In [26]:
M = int(input())
set_a = set(map(int, input().split()))

N = int(input())
set_b = set(map(int, input().split()))

B = (set_a.intersection(set_b))
A = (set_a.union(set_b))
sym_diff = (A.difference(B))

for j in sorted(list(sym_diff)):
        print(j)

4
2 4 5 9
4
2 4 11 12
5
9
11
12